[submodule "hc-webdiy-admin"]
	path = hc-webdiy-admin
	url = https://github.com/haochtech/hc-webdiy-admin.git
[submodule "hc-webdiy-wx"]
	path = hc-webdiy-wx
	url = https://github.com/haochtech/hc-webdiy-wx.git
